@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

header {
	height:600px;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.affix + span {
  padding-top:50px
}

.content {
	padding-left: 10%;
	padding-right: 10%;
	position:relative;
}

.content span {
	position:absolute;
	top: -50px;
}

.content-title {
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	padding-top: 50px;
}

.content-body {
}
